

header {
    padding: 20px;
    background-color: rgb(134, 133, 134);
}

header h1 {
    display: inline-block;
    color: white;
}

header nav {
    padding-top: 13px;
    float: right;
    display: flex;
    margin-right: 50px;
    
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.section {
    display: flex;
    flex-direction: row;
    
}

.section-title {
    color: rgb(93, 93, 150);
    border-right: 4px solid rgb(93, 93, 150);
    font-size: 30px;
    margin-left: 200px;
}

.section-content {
    margin-left: 600px;
}

.section-content .primary-work img {
    width: 800px;
    height: 500px
}



.section-content .secondary-work img {
    width: 400px;
    height: 200px;
}





 